.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray-800);
    border-radius: 0.5rem;
}

.sidebar-banner-cover{
    width: 100%;
    height: 4.5rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    object-fit: cover;
}

.sidebar-profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -1.75rem;
    gap: 1rem;
}

.sidebar-profile .user-profile{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;

}

.sidebar-text-container{
    margin: 1rem 0 2.5rem;
}

.sidebar-button-container{
    width: 100%;
    border-top: 1px solid var(--gray-600);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 3rem;
}

.sidebar-button{
    display: flex;
    align-items: center;
    border: 1px solid var(--green-500);
    border-radius: 0.5rem;
    padding: 1rem 2rem 0.875rem;
    background: transparent;
    gap: 0.5rem;
    cursor: pointer;

    transition: ease-in-out color 0.2s, ease-in-out background-color 0.2s;
}

.sidebar-button--text{
    color: var(--green-500);
    font-weight: 700;
    font-size: 1rem;
    white-space: nowrap;
}

.sidebar-button:hover{
    background-color: var(--green-500);
}

.sidebar-button:hover .sidebar-button--text{
    color: var(--white);
}
.sidebar-button:hover svg path{
    stroke: var(--white);
}